.conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.conteudo-principal h2{
    margin-top: 2rem;
}

.img-conteudo{
    max-width: 200px;
    margin: 0 1em;
}

/* ====================== */
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo table{
    vertical-align: top;
    margin: 0 0.5em;
}
/* ====================== */

/* RESPONSIVIDADE */

@media (max-width: 768px) {
    .conteudo table{
        margin-bottom: 2rem;
    }

    .conteudo {
        flex-direction: column;
        align-items: center;
    }

    .img-conteudo {
        width: 100%;
    }
}

/* estilização do tema dark */

body.tema-escuro table tr{
    background-color: #fff;
}