/* Carrossel de cards */

.carrossel-wrapper {
    position: relative;
}

.carrossel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 0;
}

.carrossel::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 250px;
    flex-shrink: 0;
    border-radius: 15px;
}

.botao-carrossel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #555;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-esquerda {
    left: -30px;
}

.botao-direita {
    right: -30px;
}

.botao-carrossel:hover {
    background-color: #f1f1f1;
}

/* ===================== */

.pacotes-nacionais {
    display: flex;
}
.pacotes-promocionais {
    display: flex;
}
.pacotes-internacionais {
    display: flex;
}

.texto-pacotes {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.texto-pacotes h3,
.texto-pacotes img {
    display: block;
    margin: 0 auto;
}

.texto-pacotes {
    flex-direction: column;
    gap: 10px;
}

.carrossel-pacotes {
    margin: 0 25px;
    width: 70%;
}

.card img{
    max-width: 250px;
    height: auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

main a{
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

main a:hover{
    border: 1px solid #00a080;
    border-radius: 15px;
}

.banner-promocao{
    background: linear-gradient(to right, #00a080, #1B4C74);
    border-radius: 15px;
    margin: 68px 10px;
    height: auto;
    color: white;
}

.banner-promocao h2{
    color: white;
    font-size: 3em;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .pacotes-promocionais,
    .pacotes-nacionais,
    .pacotes-internacionais {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .texto-pacotes {
        width: 100%;
        margin-bottom: 1rem;
    }

    .carrossel-pacotes {
        width: 100%;
        margin: 0;
    }

    .botao-carrossel {
        /* display: none; Esconde os botões laterais em telas pequenas */
    }

    .banner-promocao h2 {
        font-size: 2rem;
    }

    .banner-promocao h4 {
        font-size: 1.2rem;
    }
}
